<!-- Large Viewport Nav Bar -->
<div class="px-6 md:px-24 lg:px-32">
  <header class="py-12 flex justify-between">
    <div class="mr-6 flex">
      <a href="/index.html" class="font-ibm text-3xl text-black
        no-underline">Space
        Futures Initiative</a>
    </div>
    <ul class="md:flex items-center list-none hidden font-ibm">
      {{ range .Site.Menus.main }}
      <li class="pl-16 py-2"><a href="{{ .URL }}" class="text-black
          hover:text-gray-300 pb-1">{{
          .Name }}</a></li>
      {{ end }}
    </ul>
    <button id="open" class="sm:hidden flex items-center">
      <svg class="block h-6 w-6 sm:hidden" xmlns="http://www.w3.org/2000/svg"
        fill="none" viewBox="0 0 20 20" stroke="white">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </header>
  </div>

  <!-- Responsive Nav Bar -->
  <div id="nav" class="hidden overflow-y-hidden fixed h-screen inset-0
    bg-zinc-900">
    <button id="close" class="z-10 absolute text-4xl text-sea-blue p-4">&times;</button>
    <div id="text" class="relative pt-16 w-screen text-center">
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}" class="text-lg py-5 text-sea-blue block">{{ .Name }}</a>
      {{ end }}
    </div>
  </div>
  <script> 
  // Close
  $("#close").click(function(){
      $("#nav").fadeToggle('fast');
  });

  // Open
  $("#open").click(function(){
      $("#nav").fadeToggle('fast');
  });
</script>