<div class="pt-8 md:pt-10 pb-6 md:pb-8 md:flex">
  <div class="md:w-1/5">
    <p class="font-normal text-xs md:text-sm text-zinc-400">{{
      .Date.Format "Jan 2, 2006" }}</p>
  </div>
  <div class="md:w-3/5">
    <div class="pt-2 md:pt-0 font-normal text-base md:text-lg text-zinc-900">
      <a href="{{ .RelPermalink }}" class="no-underline">{{.Title }}</a>
    </div>
    <div class="pt-2 md:pt-4 font-normal text-sm text-zinc-900
      md:leading-6 hidden sm:block">
      {{ .Content | truncate 300 }}
    </div>
    <div class="pt-2 md:pt-4 font-normal text-sm text-zinc-900
      md:leading-6 sm:hidden block">
      {{ .Content | truncate 250 }}
    </div>
    <div class="pt-2 md:pt-4 font-normal text-xs md:text-sm text-zinc-900">
      <p>{{.Param "author" }}</p>
    </div>
  </div>
</div>